<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mengker.dreamdiary"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
	 <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.mengker.dreamdiary.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="org.mengker.dreamdiary.RecordActivity"
            android:label="@string/title_activity_record" >
        </activity>
        <activity
            android:name="org.mengker.dreamdiary.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="org.mengker.dreamdiary.IndexActivity"
            android:label="@string/title_activity_index" >
        </activity>
        <activity
            android:name="org.mengker.share.ShareActivity"
            android:label="@string/title_activity_share" >
        </activity>
        <activity
            android:name="org.mengker.dreamdiary.DreamView"
            android:label="@string/title_activity_dream_view" >
        </activity>
        <activity
            android:name="org.mengker.dreamdiary.Me"
            android:label="@string/title_activity_me" >
        </activity>
        <activity
            android:name="org.mengker.dreamdiary.WelcomeMain"
            android:label="@string/title_activity_welcome_main" >
        </activity>
        <activity
            android:name="org.mengker.dreamdiary.ExploreActivity"
            android:label="@string/title_activity_share" >
        </activity>
         <activity
            android:name="org.mengker.dreamdiary.DiaryBookActivity"
            android:label="@string/title_activity_diary_book" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>